<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LABwork</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>LABwork</h1>
    <h2>By Luke A Busacca</h2>
    <hr>
    <ul class="navBar">
        <li><a href="applications.html">My Applications</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a>SUSUME Progress Tracker</a></li>
    </ul>
    <br>
    <p>This is a Work in progress</p>
</body>
</html>